imutils
opencv-python-headless
streamlit==1.23.1
tensorflow==2.8.0  # Use a TensorFlow version compatible with your Python version (e.g., 2.8.0)
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.31.0
protobuf==3.20.0
